* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
}

p {
  padding: 20px;
}

label {
  padding: 20px;
}

input {
  width: 200px;
  padding: 10px;
}

button {
  padding: 10px;
}
